
.qmake.stash
.vs/SDI/v16/.suo
.vs/SDI/v16/Browse.VC.db
.vs/SDI/v16/ipch/AutoPCH/e545c62d3cc76c6/MAIN.ipch
.vs/SDI/v16/ipch/AutoPCH/f7aefb19aaf40390/ANNOTATIONSAPP.ipch
debug/moc_annotationsApp.cpp
debug/moc_predefs.h
debug/moc_predefs.h.cbt
debug/SDI.exe
debug/SDI.ilk
debug/SDI.pdb
release/moc_predefs.h.cbt
SDI.pro.user
SDI.sln
SDI.vcxproj
SDI.vcxproj.filters
SDI.vcxproj.user
x64/Debug/annotationsApp.obj
x64/Debug/main.obj
x64/Debug/moc_annotationsApp.obj
x64/Debug/qmake/qtvars_x64_Debug.props
x64/Debug/qt_work.log
x64/Debug/SDI.log
*.tlog
x64/Release/qmake/qtvars_x64_Release.props
x64/Debug/vc142.pdb
.vs/SDI/v16/Browse.VC.opendb
.vs/SDI/v16/ipch/AutoPCH/3ae6ac108f59b1f0/SDIGRAPHICSVIEW.ipch
.vs/SDI/v16/ipch/AutoPCH/fc5bb86f2c284d18/~VS5F07.ipch
.vs/SDI/v16/ipch/AutoPCH/fdbaed3fe9b9ebc3/SDIGRAPHICSVIEW.ipch
